@{
    ViewBag.Title = "Index";
}

<h2>Message Processor Demo</h2>
<div>Please go to the "Birthdays", "BabyBirth" and "Log" folder from the application root to see the result</div>
<h3>Usage</h3>
<div>
    Usage of the Message Processor is shown in ProcessController
</div>
<h3>Requirement</h3>
<div>
    <ol>
        <li>add reference to MessageProcessor Project</li>
        <li>add reference to log4net Project</li>
        <li>setup log4net properly the project that need to use MessageProcessor, reference the web.config of MessageProcessorAgent Project or follow this <a href="http://www.codeproject.com/Articles/140911/log4net-Tutorial" target="_blank">tutorial</a></li>
    </ol>
</div>
<h3>Libaries used in Message Processor Project</h3>
<ul>
    <li>Unity Container DI Framework</li>
    <li>log4net</li>
    <li><a href="http://conditions.codeplex.com/" target="_blank">CuttingEdge.Conditions</a></li>
</ul>